/* Réinitialisation générale des marges et des paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global pour le corps de la page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* S'assurer que la page couvre toute la hauteur de l'écran */
}

/* Style de l'en-tête et de la navigation */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Titres */
h1, h2 {
    text-align: center;
    margin: 20px 0;
}

/* Conteneur général */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

/* Formulaires */
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    align-self: center;
}

button:hover {
    background-color: #45a049;
}

/* Message d'accueil centré horizontalement */
#home-content {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px; /* Ajouter un espace au-dessus */
}

/* Pied de page */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 0;
}
